DATA_FILE_NAME=data3
PEERS=["http://gun.shock.network:8765/gun"]
MS_TO_TOKEN_EXPIRATION=4500000
DISABLE_SHOCK_ENCRYPTION=false
CACHE_HEADERS_MANDATORY=true
SHOCK_CACHE=true
TRUSTED_KEYS=true
LOCAL_TUNNEL_SERVER=https://tunnel.rip
