.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
build/
db.sqlite
metrics.sqlite
.key/
logs
.jwt_secret
data/
.wallet_secret
.wallet_password
.admin_enroll
admin.npub
app.nprofile
.admin_connect
debug.txt