# Example configuration for Lightning.Pub
# Copy this file as .env in the Pub folder and uncomment the desired settings to override defaults
# Alternatively, these settings can be passed as environment variables at startup


#LND_CONNECTION
# Defaults typical for straight Linux
# Containers, Mac and Windows may need more detailed paths
#LND_ADDRESS=127.0.0.1:10009
#LND_CERT_PATH=~/.lnd/tls.cert
#LND_MACAROON_PATH=~/.lnd/data/chain/bitcoin/mainnet/admin.macaroon
#LND_LOG_DIR=~/.lnd/logs/bitcoin/mainnet/lnd.log
#BTC_NETWORK=mainnet
# Bypass LND entirely and daisychain off the bootstrap provider (testing only)
#USE_ONLY_LIQUIDITY_PROVIDER=false

#BOOTSTRAP_PEER
# A trusted peer that will hold a node-level account until channel automation becomes affordable
# The provider pubkey is extracted from PROVIDER_NPROFILE (nprofile contains both pubkey and relay URL)
# The developers node is used by default, or you may specify another.
# To disable this feature entirely set DISABLE_LIQUIDITY_PROVIDER=true
#DISABLE_LIQUIDITY_PROVIDER=false
#PROVIDER_NPROFILE=nprofile1qyd8wumn8ghj7um5wfn8y7fwwd5x7cmt9ehx2arhdaexkqpqwmk5tuqvafa6ckwc6zmaypyy3af3n4aeds2ql7m0ew42kzsn638q9s9z8p

#SWAPS
#BOLTZ_HTTP_URL=
#BOLTZ_WEBSOCKET_URL=
#ENABLE_SWAPS=false

#DB
#DATABASE_FILE=db.sqlite
#METRICS_DATABASE_FILE=metrics.sqlite
#LOGS_DIR=logs
# directory where app data will be stored
#DATA_DIR=
# Pub will generate a ranom secret to encrypt the seed phrase in the database.
# Specify a location only if you require privleged storage, else it will be stored in the Pub data dir.
#WALLET_SECRET_PATH=
# If using a password file directly within LND's configuration, specify it here for Pub to use it for unlocking.
#WALLET_PASSWORD_PATH=


#LOCALHOST
# For REST Management
#ADMIN_TOKEN=
#PORT=1776
#JWT_SECRET=

#PUSH_SERVICE
# For Wallet notifs via FCM
#SHOCK_PUSH_URL=

#LNA Bridge
# Tell wallets where they can get a noffer-based Lightning Address
#BRIDGE_URL=https://shockwallet.app

#LIGHTNING
# Service Fee: What Pub charges users (max of BPS*amount or floor)
# Routing Fee Limit: What Pub allows LND to spend (max of BPS*amount or floor)
# Routing fee limit must be <= service fee (validated at startup to ensure spread)
# BPS are basis points, 100 BPS = 1%
#SERVICE_FEE_BPS=60
#ROUTING_FEE_LIMIT_BPS=50
#SERVICE_FEE_FLOOR_SATS=10
#ROUTING_FEE_FLOOR_SATS=5



#ROOT_FEES
# Internal transaction fees (placeholder, bugged, do not use)
#TX_FEE_INTERNAL_ROOT_BPS=0

#LSP
# If the back-end doesn't have adequate channel capacity, buy one from an LSP 
#OLYMPUS_LSP_URL=https://lsps1.lnolymp.us/api/v1
#FLASHSATS_LSP_URL=https://lsp.flashsats.xyz/lsp/channel
#LSP_CHANNEL_THRESHOLD=1000000
#LSP_MAX_FEE_BPS=100

# Use trusted peer until LSP costs less than ~1% of balance or threshold
#BOOTSTRAP=1

#NOSTR
# Default relay may become rate-limited without a paid subscription
#NOSTR_RELAYS=wss://relay.lightning.pub
# Max content lengh of single nostr event content, events will be sharded above this size
#NOSTR_MAX_EVENT_CONTENT_LENGTH=45000

#LNURL
# Optional
# If undefined, LNURLs will be disabled but wallets may still use bridge for Lightning Addresses
# To enable, add a reachable https endpoint for requests
# You also need an SSL reverse proxy from the domain to the Pub
# Read more at https://docs.shock.network
#SERVICE_URL=https://yourdomainhere.xyz
#LNURL_META_TEXT=LNURL via Lightning.Pub

#SUBSCRIPTION_SERVICES
# Opt-in to cloud relays for LNURL and Nostr
# A small monthly fee supports the developers
# Read more at https://docs.shock.network
#SUBSCRIBER=1

#DEV
#MOCK_LND=false
#ALLOW_BALANCE_MIGRATION=false
#MIGRATE_DB=false
#LOG_LEVEL=DEBUG
#HIDE_LOGS= <space separated list of log providers to ignore>

#METRICS
#RECORD_PERFORMANCE=true
#SKIP_SANITY_CHECK=false
# A read-only token that can be used with dashboard to view reports
#METRICS_TOKEN=
#ALLOW_RESET_METRICS_STORAGES=false
#ALLOW_HTTP_UPGRADE=false

#WATCHDOG SECURITY
# A last line of defense against 0-day drainage attacks
# This will monitor LND separately and terminate sends if a balance discrepency is detected
# This setting defaults to 0 meaning no discrepency will be tolerated
# Increase this values to add a spending buffer for non-Pub services sharing LND
# Max difference between users balance and LND balance at Pub startup
#WATCHDOG_MAX_DIFF_SATS=0
# Disable outbound payments aka honeypot mode
#DISABLE_EXTERNAL_PAYMENTS=false