# Example configuration for Lightning.Pub
# Copy this file as .env in the Pub folder and uncomment the desired settings to override defaults
# Alternatively, these settings can be passed as environment variables at startup

#LND_CONNECTION
# Defaults typical for straight Linux
# Containers, Mac and Windows may need more detailed paths
#LND_ADDRESS=127.0.0.1:10009
#LND_CERT_PATH=~/.lnd/tls.cert
#LND_MACAROON_PATH=~/.lnd/data/chain/bitcoin/mainnet/admin.macaroon
#LND_LOG_DIR=~/.lnd/logs/bitcoin/mainnet/lnd.log
#BTC_NETWORK=mainnet

#BOOTSTRAP_PEER
# A trusted peer that will hold a node-level account until channel automation becomes affordable
# The developer is used by default or you may specify your own
# To disable this feature entirely overwrite the env with "null"
# LIQUIDITY_PROVIDER_PUB=null
# DISABLE_LIQUIDITY_PROVIDER=false
# USE_ONLY_LIQUIDITY_PROVIDER=false

#SWAPS
# BOLTZ_HTTP_URL=
# BOLTZ_WEBSOCKET_URL=
# ENABLE_SWAPS=false

#DB
#DATABASE_FILE=db.sqlite
#METRICS_DATABASE_FILE=metrics.sqlite
#LOGS_DIR=logs
# directory where app data will be stored
#DATA_DIR=
# Pub will generate a ranom secret to encrypt the seed phrase in the database.
# Specify a location only if you require privleged storage, else it will be stored in the Pub data dir.
#WALLET_SECRET_PATH=
# If using a password file directly within LND's configuration, specify it here for Pub to use it for unlocking.
#WALLET_PASSWORD_PATH=


#LOCALHOST
#ADMIN_TOKEN=
#PORT=1776
#JWT_SECRET=

#SHOCK_PUSH_URL=

#Lightning Address Bridge
#BRIDGE_URL=https://shockwallet.app

#LIGHTNING
# Maximum amount in network fees passed to LND when it pays an external invoice
# BPS are basis points, 100 BPS = 1%
#OUTBOUND_MAX_FEE_BPS=60 // deprecated
#OUTBOUND_MAX_FEE_EXTRA_SATS=100 // deprecated use OUTBOUND_FEE_FLOOR_SATS instead
#OUTBOUND_FEE_FLOOR_SATS=10
# If the back-end doesn't have adequate channel capacity, buy one from an LSP 
# Will execute when it costs less than 1% of balance and uses a trusted peer
#BOOTSTRAP=1

#LSP
OLYMPUS_LSP_URL=https://lsps1.lnolymp.us/api/v1
VOLTAGE_LSP_URL=https://lsp.voltageapi.com/api/v1
FLASHSATS_LSP_URL=https://lsp.flashsats.xyz/lsp/channel
LSP_CHANNEL_THRESHOLD=1000000
LSP_MAX_FEE_BPS=100

#ROOT_FEES
# Applied to either debits or credits and sent to an admin account
# BPS are basis points, 100 BPS = 1%
#INCOMING_CHAIN_FEE_ROOT_BPS=0
#INCOMING_INVOICE_FEE_ROOT_BPS=0
# Chain spends are currently unstable and thus disabled, do not use until further notice
#OUTGOING_CHAIN_FEE_ROOT_BPS=60
# Outgoing Invoice Fee must be >= Lightning Outbound Max Fee so admins don't incur losses on spends
#OUTGOING_INVOICE_FEE_ROOT_BPS=60
# Internal user fees bugged, do not use until further notice
#TX_FEE_INTERNAL_ROOT_BPS=0 #applied to inter-application txns

#APP_FEES
# An extra fee applied at the app level and sent to the application owner
#INCOMING_INVOICE_FEE_USER_BPS=0
#OUTGOING_INVOICE_FEE_USER_BPS=0
#TX_FEE_INTERNAL_USER_BPS=0

#NOSTR
# Default relay may become rate-limited without a paid subscription
#NOSTR_RELAYS=wss://relay.lightning.pub
# Max content lengh of single nostr event content, events will be sharded above this size
#NOSTR_MAX_EVENT_CONTENT_LENGTH=45000

#LNURL
# Optional
# If undefined, LNURLs (including Lightning Address) will be disabled
# To enable, add a reachable https endpoint for requests (or purchase a subscription)
# You also need an SSL reverse proxy from the domain to this local host
# Read more at https://docs.shock.network
#SERVICE_URL=https://yourdomainhere.xyz
#LNURL_META_TEXT=LNURL via Lightning.Pub

#SUBSCRIPTION_SERVICES
# Opt-in to cloud relays for LNURL and Nostr
# A small monthly fee supports the developers
# Read more at https://docs.shock.network
#SUBSCRIBER=1

#DEV_OPTS
#MOCK_LND=false
#ALLOW_BALANCE_MIGRATION=false
#MIGRATE_DB=false
#LOG_LEVEL=DEBUG
#HIDE_LOGS= <space separated list of log providers to ignore>

#METRICS
#RECORD_PERFORMANCE=true
#SKIP_SANITY_CHECK=false
# A read-only token that can be used with dashboard to view reports
#METRICS_TOKEN=
# Disable outbound payments aka honeypot mode
#DISABLE_EXTERNAL_PAYMENTS=false
#ALLOW_RESET_METRICS_STORAGES=false
ALLOW_HTTP_UPGRADE=false

#WATCHDOG SECURITY
# A last line of defense against 0-day drainage attacks
# This will monitor LND separately and terminate sends if a balance discrepency is detected
# This setting defaults to 0 meaning no discrepency will be tolerated
# Increase this values to add a spending buffer for non-Pub services sharing LND
# Max difference between users balance and LND balance at Pub startup
#WATCHDOG_MAX_DIFF_SATS=0
