#LND
LND_ADDRESS=127.0.0.1:10009
LND_CERT_PATH=/root/.lnd/tls.cert
LND_MACAROON_PATH=/root/.lnd/data/chain/bitcoin/mainnet/admin.macaroon

#DB
DATABASE_FILE=db.sqlite
METRICS_DATABASE_FILE=metrics.sqlite
LOGS_DIR=logs

LOG_LEVEL=DEBUG

#LOCAL
ADMIN_TOKEN=
PORT=8080
JWT_SECRET=bigsecrethere

#LIGHTNING
OUTBOUND_MAX_FEE_BPS=60
OUTBOUND_MAX_FEE_EXTRA_SATS=100

#ROOT_FEES 
INCOMING_CHAIN_FEE_ROOT_BPS=0
INCOMING_INVOICE_FEE_ROOT_BPS=0 
OUTGOING_CHAIN_FEE_ROOT_BPS=60 #applied to application debits
OUTGOING_INVOICE_FEE_ROOT_BPS=60 #applied to application debits
TX_FEE_INTERNAL_ROOT_BPS=60 #applied to inter-application txns

#APP_FEES
INCOMING_INVOICE_FEE_USER_BPS=0 #app default
OUTGOING_INVOICE_FEE_USER_BPS=60 #app default
TX_FEE_INTERNAL_USER_BPS=60 #intra-application tx default

#NOSTR
NOSTR_RELAYS=wss://strfry.shock.network

#LNURL
#Note that a reachable https endpoint for the service to handle lnurl requests is required for lightning address bridges
SERVICE_URL=https://test.lightning.pub

#DEV
MOCK_LND=false
ALLOW_BALANCE_MIGRATION=false
MIGRATE_DB=false

#METRICS
RECORD_PERFORMANCE=true
SKIP_SANITY_CHECK=false
DISABLE_EXTERNAL_PAYMENTS=false

# Max difference between users balance and LND balance since beginning of app execution
WATCHDOG_MAX_DIFF_SATS=10000

# Max difference between users balance and LND balance after each payment
WATCHDOG_MAX_UPDATE_DIFF_SATS=1000