.radio-option .question-box {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 4px;
}

.automate .question-content {
  display: none;
  position: absolute;
  min-width: 280px;
  background-color: var(--background-color);
  color: #a3a3a3;
  padding: 12px;
  border: 2px solid #c423e0;
  border-radius: 4px;
  font-size: 14px;
  transform: translate(-50%, -50%);
  padding-top: 28px;
  z-index: 200;
  left: 65%;
}

.question-content .close-button {
  position: absolute;
  top: 4px;
  right: 0;
}
.question-content .question-more {
  position: absolute;
  bottom: 4px;
  right: 6px;
  text-decoration: underline;
}
.radio-option .automate {
  position: relative;
  display: inline;
}
@media screen and (max-width: 450px) {
  .automate > .question-content {
    left: 50%;
  }
}