:root {
    --background-color: #16191c;
    --color: #ffffff;
    --color-marked: #ff7700;
    --color-linked: #2aabe9;
    --gradient: linear-gradient(60deg, #ff7700 0%, #c740c7 100%);
    --font-size-h2: 36px;
    --font-size-p: 16px;
}

body {
    margin-block-start: 15px;
    font-family: Montserrat;
    background-color: var(--background-color);
    color: var(--color);
    text-align: center;
    overflow: scroll;
}

header {
    background-color: var(--background-color);
    padding-inline: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

main {
    max-width: 700px;
    width: 100%;
    margin-inline: auto;
}

@media (min-width: 768px) {
    body {
      zoom: 1.4;
    }
    
}

@media (min-width: 2000px) {
    body {
      zoom: 1.6;
    }
    
}

@media screen and (max-width: 425px) {
    header>img:nth-child(1){
        width: 30px;
        height: auto;
    }

    header>img:nth-child(2){
        width: auto;
        height: 26px;
    }
}

input[type="text"] {
    background-color: transparent;
    padding: 7px 10px;
    border: 1px solid #c740c7;
    border-radius: 5px;
    font-size: 14px;
    color: #999999;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,1);
}

button {
    background-color: transparent;
    padding: 10px 55px;
    font-size: 20px;
    color: var(--color);
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0,0,0,1);
    background: linear-gradient(var(--background-color), var(--background-color)) padding-box, var(--gradient) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
}


h2 {
    font-size: var(--font-size-h2);
    font-weight: 400;
}

p {
    font-size: var(--font-size-p);
}

a {
    color: var(--color);
    text-decoration: none;
}

.text-gray {
    color: #a3a3a3;
    margin-block-end: 5px;
}

/* Hide the default checkbox */
.checkbox input[type="checkbox"] {
    display: none;
}

/* Create a new box */
.checkbox label {
    position: relative;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
}

/* Display a checkmark when the checkbox is checked */
.checkbox input[type="checkbox"]:checked + label::after {
    content: "✔";
    color: #a012c7;
    font-size: 20px;
    position: absolute;
    left: 1px;
    top: -11px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.line {
    margin-block: 30px;
    background: var(--gradient);
    width: 347px;
    height: 2px;
    margin-inline: auto;
}

.marked {
    color: var(--color-marked);
}

.linked {
    color: var(--color-linked);
}

.setup-footer>p {
    line-height: 4px;
}

.setup-header>h2 {
    margin-block-start: 20px;
}

#qrcode {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-block-start: 40px;
    margin-block-end: 15px;
}
